[submodule "kasmweb"]
	path = kasmweb
	url = https://github.com/goldenhelix/noVNC.git
	branch = goldenhelix-master-20260828
[submodule "kasmvnc-functional-tests"]
	path = kasmvnc-functional-tests
	url = git@gitlab.com:kasm-technologies/internal/kasmvnc-functional-tests.git